@font-face {
    font-family: "Open Sans";
    src: url(fonts/OpenSans.ttf);
}

:root{
    --maincolor:#96BB7C;
    --darkblue:#252B42;
    --grey:#737373;
    --white:#FFFFFF;
    --red:#E74040;
    --bs-primary:var(--maincolor);
}


.container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(3rem,1fr));
    gap:1rem;
}


.btn-outline-primary{
    color: var(--maincolor);
    border-color: var(--maincolor);
}


.btn-outline-primary:hover{
    color: var(--white);
    border-color: var(--maincolor);
    background-color: var(--maincolor);
}


body{
    font-family: "Open Sans";
    font-style: normal;

}



/* header styling */
header nav{
    padding-right: 59px;
    background-color: var(--white);
    font-size: 1rem;
}

.navbar-brand{
    font-size: 1.5rem;
    padding-right: 70px;
}


.login-out .logout{
    color: var(--maincolor);
    align-items: center;
}

.login-out .login{
    color: var(--maincolor);
    align-items: center;
}

.login-out .btn-primary{
    background-color: var(--maincolor);
    border-color: var(--maincolor);
    color: var(--white);
    align-items: center;
}

.header{
    z-index: 1;
}

.pfp{
    width: 2rem;
}

.notification a{
    text-decoration: none;
    color: var(--grey);
}
/* end header syling */


/* heading styling start */
.head{
    background-color: #EFF8ED;
    padding: 40px;
    padding-bottom: 10px; 
}

.head img{
    width: 345px;
    height: 431px;
    margin: 30px;
}

.head h5{
    font-size: 16px;
    color: var(--maincolor);
    margin: 40px 40px 40px 0px;

}

.head h1{
    font-size: 50px;
    color: var(--darkblue);
    margin: 40px 40px 40px 0px;

}

.head h4{
    font-weight: 400;
    font-size: 20px;
    color:#737373;
    margin: 40px 40px 40px 0px;
}

.head .button{
    margin: 40px 40px 40px 0px;
    color: var(--maincolor);
}
/* heading styling end  */



/* start card section styling */
.cards .card-info{
    margin-top: -50px;
    margin-bottom: 80px;

}

.cards .promo-card{
    /* margin: 10px 123px; */
    background-color: var(--white);
    padding: 35px 40px 35px 31px;
    margin-top: 1rem;
    box-shadow: 5px 8px 20px 2px rgb(235, 235, 235) ;
}

.cards .promo-card img{
    height: 64px ;
    width: 64px;
    margin-bottom: 10px;
}

.cards .promo-card p{
    font-weight: 400;
    font-size: 14px;
    color: #737373;
    padding-top: 20px;
}

.cards .promo-card h3{
    font-size: 24px;
    position: relative;
    padding-bottom: 20px;
}

.cards .promo-card h3::after{
    content: '';
    width: 50px;
    height: 2px;
    background-color: var(--red);
    position: absolute;
    bottom: 0;
    left: 0;
}
/* end card section styling */



.packages img{
    border-radius: 20px;   
}

.packages .packagecont{
    margin: 89px 0px;
}

.packagecont h2{
    font-size: 40px;
    color: var(--darkblue);
    position: relative;
    padding-top: 35px;
}

.packagecont h2::before{
    content: '';
    width: 94px;
    height: 7px;
    background-color: var(--red);
    position: absolute;
    top: 0;
    left: 0;
}

.packagecont a{
    color: var(--maincolor);
    font-weight: 700;
    font-size: 14px;
    padding: 0px;
}

.packages .vedio{
    position: relative;
}

.packages #play{
    color: var(--white);
    background-color: var(--maincolor);
    border-radius: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 35px 40px;
    transform: translate(-50%, -50%);
}

.packages #play i{
    width: 100%;
    height: auto;
    font-size: 40px;
}
/* end packages section styling */



/* start vedio in live action section */
.livevedio .container{
    display: flex;
    flex-direction: column;
    /* padding: 112px 0px; */
}

.livevedio .content{
    padding-bottom: 112px;
}

.livevedio .content h6{
    color: var(--maincolor);
    font-size: 14px;
}

.livevedio .content h2{
    color: var(--darkblue);
    font-size: 40px;
}

.livevedio .content p{
    color: var(--grey);
    font-weight: 400;
    font-size: 14px;
}

.livevedio .content a{
    color: var(--maincolor);
    text-decoration: none;
}

.sale .vid{
    position: relative;
}

.sale .vid h6{
    background-color: var(--red);
    color: var(--white);
    border-radius: 3px;
    padding: 3px 10px;

}
.sale .vid .sale-wrapper{
    position: absolute;
    top: 11px;
    left: 11px;
    width: 100%;
    height: auto;
}

.sale .vid img{
    width: 100%;
    height: auto;
    aspect-ratio: 3 / 4;

}

.sale .buttons{
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.sale .buttons .btn{
    font-size: large;
    background-color: var(--white);
    border-radius: 50%;
    /* padding:6px 10px; */
    margin: 5px;
}

.sale .buttons .heart:hover{
    color: var(--red);
}

.sale .buttons .cart:hover{
    color: blue;
}

.sale .buttons .eye:hover{
    color: green;
}

.describe .rate{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.describe .rate h6{
    font-size: 14px;
    color: var(--maincolor);
}

.describe .rate p{
    background-color: var(--darkblue);
    color: var(--white);
    font-size: 12px;
    font-weight: 400;
    border-radius: 20px;
    padding: 4px 5px;
}

.describe h5{
    color: var(--darkblue);
    font-size: 16px;
}

.describe p{
    color: #737373;
    font-weight: 400;
    font-size: 14px;
}

.describe h6{
    font-size: 14px;
    color: #737373;
}

.describe .price{
    display: flex;
    margin: 5px;
}

.describe .price .before{
    color: #BDBDBD;
    font-size: 16px;
    margin-right: 5px;
}

.describe .price .after{
    color: #FFAB71;
    font-size: 16px;
}

.describe a{
    color: var(--maincolor);
    border-color: var(--maincolor);
}
/* end vedio in live action section */



/* start testimonial section styling */
.test .rating{
    display: flex;
    flex-direction: column;
    /* padding: 160px 0px; */

}

.cont{
    padding-bottom: 60px ;
}

.cont h6{
    color: var(--maincolor);
    font-size: 14px;
}

.cont h2{
    font-size: 40px;
    color: var(--darkblue);
}

.cont p{
    font-weight: 400;
    font-size: 14px;
    color: #737373;
}

.rates{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(3rem,1fr));
    gap:2rem;
    /* padding: 25px; */
}

.rates .rate img{
    border-radius: 50%;
    object-fit: cover;
    margin: 5px;
}

.rates .rate p{
    font-weight: 400;
    font-size: 14px;
    color: #737373;
}

.rates .rate .stars i{
    padding: 5px;
}

.rates .rate h5{
    font-size: 16px;
    color: var(--darkblue);
}

.rates .rate h6{
    font-size: 14px;
    color: #737373;
}
/* end testimonial section styling */



/* start news search section styling */
.news{
    background-color: #FFF2F3;
}

.searchnews{
    /* padding: 160px 0px; */
    display: flex;
    flex-direction: column;
}

.letter h6{
    color: var(--maincolor);
    font-weight: 700;
    font-size: 14px;
    padding-bottom: 10px;
}

.letter h3{
    color: var(--darkblue);
    font-weight: 700;
    font-size: 24px;
    padding-bottom: 10px;
}

.letter p{
    color: #737373;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 10px;

}

.submetion{
    padding: 10px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.submetion #subscribe{
    background-color: var(--maincolor);
    color: var(--white);
    align-self: center;
    z-index: 0;
    width: fit-content;
}

.search #valid,
.submetion #warning{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    text-align: center;
    background-color: var(--white);
    padding: 20px;
}
.submetion #warning .icn i{
    color: var(--red);
    font-size: 80px;
    margin: -47px 10px 10px;
    border-radius: 50%;
    background-color: var(--white);
}
.submetion #warning .msg{
    padding: 10px 30px;
}
.submetion .ok{
    background-color: var(--maincolor);
    font-size: 20px;
    padding: 7px 34px;
    color: var(--white);
}


.submetion #valid .icn i{
    color: var(--maincolor);
    font-size: 80px;
    margin: -47px 10px 10px;
    border-radius: 50%;
    background-color: var(--white);
}
.submetion #valid .msg{
    padding: 10px;
}

.popup::before{
    content: '';
    background-color: #343434;
    opacity: .6;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
}
/* end news search section styling */



/* footer styling */
footer{
    /* background-color: var(--white); */
    padding-top: 50px; ;
}

.ref h5{
    font-weight: 700;
    font-size: 16px;
    color: #252B42;
}

.ref a{
    font-weight: 700;
    font-size: 14px;
    color: #737373;
}

.aboutus{
    font-size: 12px;
}

.aboutus i{
    color: var(--maincolor);
}

.copyrightcont{
    background-color: #FAFAFA;
}

.copyright a{
    color: var(--maincolor);
    font-size: 14px;
    padding: 0.5rem 0.5rem;
}
/* footer styling end */




/* login and register page styling */
.login-page{
    background-color: #defbc9;
}

.login-signin{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--white);
    max-width: 470px;
}

.back{
    font-size: 20px;
}

.login-signin .sign-in{
    background-color: var(--maincolor);
    color: var(--white);
    /* padding: .375rem 193px; */
}

.login-signin a{
    text-decoration: none;
    color: var(--maincolor);
}

.login-signin a:hover{
    color: var(--grey);
}

.login-signin .sign-with{
    color: var(--maincolor);
}
/* end login and register page styling */



/* social media icons */
.facebook:hover{
    color: #4267b2;
}

.twitter:hover{
    color: rgb(29, 155, 240);
}

.insta:hover{
    color: indianred;
}
.google:hover{
    color: var(--red);
}
/* end icons */





.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

/* sticky head styling */
.header{
    position: fixed;
    top: 0;
    display: block;
    width: 100%;
    background: black;
    /* background-color: rgba(0, 0, 0, 0.1); */
  
    /* On Scroll animation */
        -webkit-transition:-webkit-transform 0.7s .3s ease;
         -moz-transition:   -moz-transform 0.7s .3s ease;
          -ms-transition:    -ms-transform 0.7s .3s ease;
              transition:        transform 0.7s .3s ease;
    
    /* Stop animation flicker */
    
    -webkit-backface-visibility: hidden;
     -webkit-transform: translate3d(0px, 0px, 0px);
  
  }
  
.header.hide-nav-bar{
    -webkit-transform: translate(0, -100%);
    -moz-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    transform: translate(0, -100%);
    -webkit-backface-visibility: hidden;
}
/* end sticky header css */



/* for  popup video */
  .popvid{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    background-color: rgba(0,0,0,0.8);
  }

    iframe{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%,-50%,0);
      display:block;
    }

    .close{
      cursor: pointer;
      position: absolute;
      top: 16px;
      right: 16px;
      padding: 5px;
      color: #444;
      background-color: #fff;
    }
  
    .popvid.is-hide{
      display: none;
    }

    /* end popup video */