:root{
    --maincolor:#96BB7C;
    --darkblue:#252B42;
    --grey:#737373;
    --white:#FFFFFF;
    --red:#E74040;
    --bs-primary:var(--maincolor);
}


/* add user page */
.adduser-page{
    background-color: var(--bs-body-bg);
}
.add{
    color: var(--white);
    background-color: var(--maincolor);
    outline-color: var(--maincolor);
}
/* end add user page */

/* menu page */
.menu a{
    text-decoration: none;
}
/* end menu page */



/* menu page */
.menupage{
    float: left;
}
/* end menu page */

.username{
    color: var(--maincolor);
}


.product-settings:hover{
    background-color: lightgrey;
}

.set-password-page{
    background-color: #defbc9;
}

.authentication-wrapper.authentication-basic .authentication-inner:before{
    content: none;
}

.light-style .authentication-wrapper.authentication-basic .authentication-inner:after{
    content: none;
}

.set-password-page .send{
    background-color: var(--maincolor);
    color: var(--white);
    border-color: var(--maincolor);
}

.set-password-page .back-login{
    color: var(--maincolor);
}
.set-password-page .back-login:hover{
    color: var(--grey);
}

.user-page .prod-pic{
    width: 100%;
    height: auto;
}

.user-page .pic-col{
    width: 10%;
}

.user-page .confirm-delete{
    color: #dc3545;
}
.user-page .confirm-delete:hover{
    color: var(--white);
}